@import url("./reset.css");
@import url("./tokens.css");

html {
  font-size: 100%;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color-dark-gray);
  min-height: 100vh;
  background: var(--color-yellow);
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  padding: var(--gap-big);
  margin-inline: auto;
  width: min(calc(100% - (2 * var(--gap-big))), 24rem);
  border-radius: var(--radius-big);
  background: var(--color-white);
  box-shadow: var(--card-shadow);
  border: 0.0625rem solid var(--color-dark-gray);
  container-type: inline-size;
}

.card_link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.hero {
  display: block;
  border-radius: var(--radius-medium);
  width: 100%;
  height: auto;
  margin-bottom: var(--gap-big);
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  margin: 0 auto var(--gap-big);
}

.tag {
  display: inline-block;
  padding: var(--gap-small) var(--gap-medium);
  background-color: var(--color-yellow);
  border-radius: var(--radius-regular);

  color: var(--color-dark-gray);
  font-weight: var(--font-weight-extra-bold);
}

.card_date {
  color: var(--color-dark-gray);
  font-weight: var(--font-weight-medium);
}

.card_title {
  font-weight: var(--font-weight-extra-bold);
  text-decoration: none;
}

.card_title:link,
.card_title:visited {
  color: var(--color-dark-gray);
}

.card_title:hover,
.card_title:active {
  color: var(--color-yellow);
  cursor: pointer;
}

.card_description {
  color: var(--color-gray);
  font-weight: var(--font-weight-medium);
}

.card_author {
  display: flex;
  flex-direction: row;
  gap: var(--gap-medium);
  align-items: center;

  font-weight: var(--font-weight-extra-bold);
}

.card_avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.attribution {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.6875rem;
  width: max-content;
}

@media (max-width: 79.6875rem) {
  .attribution {
    display: none;
  }
}

/* ========================================================================= */
/* Fluid font-size transitions */
/* ========================================================================= */
/*
  100cqi = the .card content-box width.
  Expression = (cardWidth - 20.4375rem) / 3.5625rem
    - 0 if the card width is 20.4375rem.  ==> use the minimum font-size.
    - 1 if the card width is 24rem.       ==> use the maximum font-size.
*/
.card :is(.tag, .card_date, .card_title, .card_description) {
  --card-border-box-width: calc(100cqi + var(--card-border-inline-extra));

  --card-fluid-progress: clamp(
    0,
    calc(
      (var(--card-border-box-width) - var(--card-fluid-min-width)) /
        var(--card-fluid-width-range)
    ),
    1
  );

  /* In the rules below (for example .tag), we specify what is --fluid-min and --fluid-max */
  font-size: calc(
    var(--fluid-min) + (var(--fluid-max) - var(--fluid-min)) *
      var(--card-fluid-progress)
  );
}

.tag {
  --fluid-min: var(--fs-tag-min);
  --fluid-max: var(--fs-tag-max);
}

.card_date {
  --fluid-min: var(--fs-date-min);
  --fluid-max: var(--fs-date-max);
}

.card_title {
  --fluid-min: var(--fs-title-min);
  --fluid-max: var(--fs-title-max);
}

.card_description {
  --fluid-min: var(--fs-description-min);
  --fluid-max: var(--fs-description-max);
}

.card_author_name {
  font-size: var(--fs-author-name);
}
